/* Global container */
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

/* Responsive container widths */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header styling */
header {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--primary);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--primary);
}


/* Responsive tweaks */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    background-color: var(--dark);
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    display: none; 
  }

  .nav-links li {
    margin: 10px 0;
  }

  header .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.username-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.username-btn:hover {
  color: var(--primary);
}

.profile-icon {
  font-size: 1.2rem;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* responsive menu */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    right: 15px;
    z-index: 100;
  }

  .nav-links {
    position: absolute;
    top: calc(100% + 15px);
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    flex-direction: column;
    display: none;
    padding: 15px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    width: 100%;
  }
  .nav-links li a {
    display: block;
  }
  .nav-links li button {
    width: 100%;
  }
}

.header-light {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color: var(--dark);
}

@media (max-width: 767px) {
  .header-light .nav-links a,
  .header-light .username-btn {
    color: var(--secondary);
  }
}
@media (min-width: 768px) {
  .header-light .nav-links a,
  .header-light .username-btn {
    color: var(--dark);
  }
}


.header-light .nav-links a:hover,
.header-light .nav-links a.active,
.header-light .username-btn:hover {
  color: var(--primary);
}
.header-light .menu-toggle {
  color: var(--dark);
}